* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    font-family: "Mozilla Text", sans-serif;
    background-color: #f5f7fa;
    color: #333;
  }

  .container {
    margin-left: 220px; /* stejně jako šířka sidebaru */
    padding: 40px 20px;
    max-width: calc(100% - 220px);
    text-align: center;
  }

  .detail-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.95rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .detail-button:hover {
    background-color: #218838;
  }